* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1280px;
  background-color: rgb(13, 8, 8);
  /* width: 100vh; */
  /* height: 100vh; */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.container {
  max-width: 1280px;
  /* width: 100%; */
  margin: auto;
}

.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 70px;
}

.speaker-view {
  color: white;
  display: flex;
  align-items: right;
  background-color: grey;
}

.button {
  color: white;
  display: flex;
  align-items: right;
  /* gap: 10px; */
}

/* main-section */

.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  /* change */
  margin-top: 100px;
  margin-left: 40px;
}

.img {
  display: flex;
  position: relative;
  /* width: 200px; */
  width: calc(100% / 7);
  height: 300px;
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid black;
  /* margin: 10px; */
}

.mute {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: grey;
}

.fa-solid .fa-microphone-slash {
  position: absolute;
  color: white;
}

/* footer-section */

.footer-navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  background-color: rgb(13, 8, 8);
}

.f-left {
  color: white;
  display: flex;
  gap: 20px;
}

.f-center {
  display: flex;
  color: white;
}
.f-right {
  display: flex;
  color: white;
}
